/* navbar module css */
.nav {
  padding-top: 2vh;
  grid-area:n;
  background-color: #fff;
  width: calc( 100% - 2vh );
  margin-left: 76px;
  height: 21vh;
  border-radius: 5px;
  margin-bottom: 4vh;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav ul li {
  list-style-type: none;
  margin:0 0 1vh 0;
  padding: 0;
}

.nav ul li a {
  text-decoration: none;
  color:#000;
  padding:4px 16px 0 32px;
  display: block;
}

.nav ul li:hover {
  background-color: rgb(197, 193, 193);
}

.active {
  background-color: rgb(197, 193, 193);
}

.nav ul li a i {
  width: 23%;
}

.friendsList {
  background-color: #fff;
  width: calc( 100% - 2vh );
  margin-left: 76px;
  height: 30vh;
  border-radius: 5px;
}

.friendsCountContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 32px;
  padding-left: 8px;
  width: calc (100% - 8px);
  margin-bottom: 4px;
}

.friendsCountContainer h1 {
  margin-right: 4px;
  font-weight: 500;
  font-size: 15px;
}

.friendsCountContainer p {
  font-size: 13px;
  color: #929EB0;
}

.friends {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}