.cap img {
  width: 100%;
  height: 180px;
  border-radius: 5px 5px 0 0;
}

.ava {
  display: flex;
  flex-direction: row;
  height: 128px;
  align-items: center;
  margin-top: -64px;
  margin-left: 16px;
}

.ava img {
  width: 128px;
  height: 128px;
  background-color: #eee;
  border-radius: 100vh;
}

.ava p {
  margin-top: 8vh;
  margin-left: 2%;
}

.profileInfo {
  background-color: #fff;
  width: 90%;
  height: 57vh;
  border-radius: 5px;
  margin-bottom: 3.5vh;
}

.profilePostNew {
  background-color: #fff;
  width: calc( 90% - 32px);
  padding: 0 16px;
  height: 8vh;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.5vh;
}

.profilePostNew img {
  width: 32px;
  height: 32px;
  background-color: #eee;
  border-radius: 100vh;
}

.profilePostNew textarea {
  width: 94%;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  outline: none;
  border: none;
  resize: none;
}

.info {
  margin-left: 4%;
}

.profilePostContainer {
  width:100%;
  height: 8vh;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profilePostNew__Active {
  background-color: #fff;
  width: calc( 90% - 32px);
  padding: 8px 16px 4px 16px;
  border-radius: 5px;
  margin-bottom: 4vh;
}

.info__Active {
  margin-left: 4%;
}

.profilePostContainer__Active {
  width:100%;
  height: 14vh;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}

.profilePostContainer__Active img {
  width: 32px;
  height: 32px;
  background-color: #eee;
  border-radius: 100vh;
}

.profilePostContainer__Active textarea {
  width: 94%;
  height: 12vh;
  line-height: 20px;
  font-size: 14px;
  outline: none;
  border: none;
  resize: none;
  border-bottom: #E3E4E8 solid 1px;
}

.sendPostContainer__Active {
  width: 96px;
  height: 28px;
  border-radius: 5px;
  background: #4A76A8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.sendPost__Active {
  font-size: 16px;
  color:#fff;
}