body {
  font-family: 'Roboto', sans-serif;
  background-color: #E9EBEE;
}

.app-wrapper {
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 8vh 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap:3.5vh;
}